body {
    background: linear-gradient(to bottom, #00bfae, #3b84f3, #6a2e8c);
    font-family: 'Arial', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;/* Centrar verticalmente */
    height: 100vh; /* Altura completa de la ventana */
     /* Centra el texto del título */
}


  
  .header {
    background-color: rgba(0, 153, 255, 0.9);
    color: white;
    padding: 30px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  .header h1 {
    font-size: 3rem;
  }
  
  .header h2 {
    font-size: 1.5rem;
  }
  
  .card-img {
    max-height: 200px;
    object-fit: contain;
    background: linear-gradient(to bottom, #6a2e8c, #00bfae);
    padding: 10px;
  }
  
  .card-body {
    background: linear-gradient(to bottom right, #3b84f3, #00bfae);
    padding: 20px;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  }
  .card-img-top {
    width: center;
    height: 200px; /* Ajusta la altura según lo necesites */
    object-fit: cover; /* Mantiene la proporción recortando el exceso */
    border-radius: 10px; /* Opcional, para esquinas redondeadas */
  }
  
